body {
    font-family: Arial;
    margin: 20px;
    background: #f2f2f2;
}

.card {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background: white;
    box-shadow: 0 0 5px #aaa;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 7px 15px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}
